
.container {
    border-color: #707070;
    padding: 10px;
}

.img1 {
    height: 45vh;
    width: 72.5vw;
    background-size: cover;
}

.h {
    font-weight: bold;
    font-size: 30px;
    font-family: Roboto;
}

.bottom {
    padding: 10px;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    background-size: cover;
    font-family: Roboto;


}

.text {
    text-align: center;
    padding: 10px;
}